<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Policy</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container mt-5">
        <h2>Privacy Policy</h2>
        <p>This website is committed to protecting your privacy and ensuring the security of your personal information whilst ensuring transparency recommendations from the information that you provide.</p>
        <p>Any information collected by the website during your activity can be removed via the Clear button located on the navigation bar - meaning that no data is kept past your usage of the website. The website solely utilises cookies as a short-term form of storage, meaning that any long-term form of storage is not utilised for storage.</p>
        <p>The application is compliant with UK data privacy laws and GDPR.  Information is not shared with any third parties to ensure user privacy.</p>
        <p>The code for this application is open-source for transparency and can be accessed via this <a href="https://github.com/sc20jj/sc20jjDissertation">Github repository</a></p>
        <p>By using our website, you agree to the terms of this Privacy Policy. If you have any questions or concerns about our privacy practices, please contact us at <a href="mailto:sc20jj@leeds.ac.uk">sc20jj@leeds.ac.uk</a>.</p>
    </div>
</body>
</html>
