<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head> 
<body>

    {% include 'navbar.html' %}

    <div class="container">

    <h1 class="text-center">My News Feed</h1>

    {% for news in news_feed %}

            {% if news.news_type == 'Injury News' %}
            <div class="article">
                <h2>{{ news.data.title }}</h2>
                <p>Click here to see current {{news.news_type}} for {{news.item}}</p>
                <img src="https://media.istockphoto.com/id/1390714309/vector/injured-soccer-player-sprained-knee-vector-illustration.jpg?s=612x612&w=0&k=20&c=m00MWnq8hVpAAGXAhrzC4BYH_sOBGaoavC3RGeDyZEo=" class="img-fluid" style="width: 275px; height: 183px;">
                <p>Publisher: API-Football</p>
                <a href="{{ url_for('injuries', word=news.item) }}" class="btn btn-primary">Read more</a>
                <hr>
            </div>
            {% elif news.news_type == 'Transfer News' %}
            <div class="article">
                <h2>{{ news.data.title }}</h2>
                <p>Click here to see current {{news.news_type}} for {{news.item}}</p>
                <img src="https://media.istockphoto.com/id/1011853246/vector/football-player-transfer.jpg?s=612x612&w=0&k=20&c=bkfSWXoePuaexzGZKkfVfTa_W5cw9TJfT43dhQZOtBQ=" class="img-fluid" style="width: 275px; height: 183px;">
                <p>Publisher: API-Football</p>
                <a href="{{ url_for('transfers', word=news.item) }}" class="btn btn-primary">Read more</a>
                <hr>
            </div>
            {% elif news.news_type == 'Team Statistics' %}
            <div class="article">
                <h2>{{ news.data.title }}</h2>
                <p>Click here to see current {{news.news_type}} for {{news.item}}</p>
                <img src="https://ai-previews.123rf.com/ai-variation/preview/wm/tigatelu/tigatelu1404/tigatelu140400271_5.jpg" class="img-fluid" style="width: 275px; height: 183px;">
                <p>Publisher: API-Football</p>
                <a href="{{ url_for('statistics', word=news.item) }}" class="btn btn-primary">Read more</a>
                <hr>
            </div>       
            {% elif news.news_type == 'Last Fixture' %}
            <div class="article">
                <h2>{{ news.data.title }}</h2>
                <p>Click here to see the {{news.news_type}} for {{news.item}}</p>
                <img src="https://as1.ftcdn.net/v2/jpg/02/15/77/78/1000_F_215777872_IM6pThhTuHckoNNZTeJgTgTEvrmWen5n.jpg" class="img-fluid" style="width: 275px; height: 183px;">
                <p>Publisher: API-Football</p>
                <a href="{{ url_for('latest', word=news.item) }}" class="btn btn-primary">Read more</a>
                <hr>
            </div>
            {% else %}
                Unknown news type.
            {% endif %}
    {% endfor %}
    </div>

</body>
</html>
