<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News Article</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .article-content {
            line-height: 1.6;
        }
        .keyword-link {
            color: blue; /* Set link color */
            text-decoration: none; /* Remove underline from links */
            cursor: pointer; /* Set cursor to pointer on hover */
        }
    </style>
</head>
<body>

    {% include 'navbar.html' %}

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center">
                    {% set words = title.split() %}
                        {% for word in words %}
                            {% if word in keywords %}
                                <a href="#" class="keyword-link" data-toggle="modal" data-target="#responseModal" data-keyword="{{ word }}">{{ word }}</a>
                            {% else %}
                                {{ word }}
                            {% endif %}
                            {% if not loop.last %} {% endif %}
                        {% endfor %}
                </h1>
                {% if image %}
                <div class="text-center">
                    <img src="{{ image }}" class="img-fluid mb-3" alt="Article Image">
                </div>
                {% endif %}
                <div class="article-content">
                    <p>
                        {% set words = article_content.split() %}
                        {% for word in words %}
                            {% if word in keywords %}
                                <a href="#" class="keyword-link" data-toggle="modal" data-target="#responseModal" data-keyword="{{ word }}">{{ word }}</a>
                            {% else %}
                                {{ word }}
                            {% endif %}
                            {% if not loop.last %} {% endif %}
                        {% endfor %}
                    </p>
                </div>
                <div class="mt-3" id="feedbackContainer">
                    <form method="POST" action="/classifierLike">
                        <input type="hidden" name="word1" value="{{ title }}">
                        <input type="hidden" name="word2" value="{{ article_content }}">
                        <button type="submit" class="btn btn-success mr-2" id="likeBtn">Like</button>
                    </form>
                    <form method="POST" action="/classifierDislike">
                        <input type="hidden" name="word1" value="{{ title }}">
                        <input type="hidden" name="word2" value="{{ article_content }}">
                        <button type="submit" class="btn btn-danger" id="dislikeBtn">Dislike</button>
                    </form>
                </div>
                <div class="mt-3" id="thankYouMessage" style="display: none;">
                    <b>Thank you for your feedback.</b>
                </div>
                <br><br>
            </div>
        </div>
    </div>

    <div class="modal fade" id="responseModal" tabindex="-1" role="dialog" aria-labelledby="responseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="responseModalLabel">Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="responseBody">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function(){

            $('.keyword-link').click(function(event){
                event.preventDefault(); // Prevent the default link behavior
                var keyword = $(this).data('keyword');
                $.ajax({
                    type: 'GET',
                    url: '/gpt', 
                    data: {'keyword': keyword}, 
                    success: function(response) {
                        // Display the response in the modal
                        $('#responseBody').html(response);
                        $('#responseModal').modal('show');
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });

            $('form').submit(function(event){
                event.preventDefault(); 
                var form = $(this);
                var formData = form.serialize(); // Serialize form data
                $.ajax({
                    type: 'POST',
                    url: form.attr('action'),
                    data: formData,
                    contentType: 'application/x-www-form-urlencoded', // Set content type
                    success: function(response) {
                        console.log(response);
                        // Hide both buttons
                        $('#feedbackContainer').hide();
                        // Show thank you message
                        $('#thankYouMessage').show();
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</body>
</html>
